# Python
__pycache__/
*.py[cod]
*.pyo
*.env
*.venv
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Book build
_build/
*.nbconvert.ipynb

# VS Code / IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# ZIP archive
*.zip
*.dll